.app {
  max-width: 500px;
  margin: auto;
  padding: 20px;
  font-family: sans-serif;
  text-align: center;
}

/* animasyona isim verip keyframe de bunu belirtiyoruz. duration ile animasyonun kaç saniye sürmesi gerektiğini söylüyoruz. infinite ise animasyonun sonsuza kadar tekrarlanacağını gösterir.  */
.app-header {
  margin-bottom: 20px;
  background-color: #333;
  color: #fff;
  animation-name: animal;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

/* keyframes bir kuralmış ve animasyonun nasıl çalışacağını tanımlıyor. from başlangıç değeri to ise animasyonun bitiş değeridir. */
@keyframes animal {
  from {
    background-color: #333;
  }

  to {
    background-color: #fff;
  }
}



h1 {
  font-size: 36px;
  margin: 0;
}

h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 2px solid #ccc;
  font-size: 16px;
}

input[type="submit"] {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  border: none;
  background-color: #4caf50;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

span {
  color: red;
  margin-bottom: 10px;
  font-size: 14px;
}

h4 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 20px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  font-size: 16px;
  margin-bottom: 5px;
  
}

.delete-btn-container {
  position: relative;
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 30px;
 
}

.delete-btn {
  position: absolute;
  right: 0;
  top: 0;
  color: white;
  background-color: red;
  border: none;
  padding: 5px 10px;
  border-radius: 90%;
  cursor: pointer;
}